<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Hello <%= @posting.name %>
    </h1>
    <p>
      <%= @contactee %> wants to work on <%= @posting.idea %><br/>
      You should email them back with information about how how best to contact you. We suggest
      <ul>
        <li>Skype</li>
        <li>IRC</li>
        <li>AIM, Yahoo!... some other instant messenger</li>
      </ul>
      
      Good luck and enjoy your session!
    </p>
  </body>
</html>