*
  padding: 0
  margin: 0

body
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
  font-size: 13px
  background: #d2d2d2
#wrapper
  margin: 0 auto
  width: 922px

#header
  width: 900px
  color: #333
  padding: 10px
  border: 1px solid #aaa
  height: 100px
  margin: 10px 0px 5px 0px
  background: #fff
  text-align: center
  h1
    font-size: 2.2em
    margin-bottom: 20px
  h2
    color: #000
    font-style: italic
    font-size: 1.5em
    text-shadow: 2px 2px 2px #ccc
    
#content
  width: 900px
  color: #333
  border: 1px solid #aaa
  background: #fff
  margin: 0px 0px 5px 0px
  padding: 10px
  height: 350px
  h2
    font-size: 1.5em
  p.idea
    margin-left: 10px
    margin-top: 10px
    font-size: 1.3em
    color: #000
    text-shadow: 2px 2px 2px #ccc
  ul.idea
    margin-top: 15px
    margin-left: 25px
    li
      font-size: 1.1em
      color: #777
  
#footer
  text-align: center
  color: #333
  width: 900px
  border: 1px solid #fff
  background: #ddd
  margin: 0px 0px 10px 0px
  padding: 10px