* {
  padding: 0;
  margin: 0; }

a:visited {
  color: blue; }

body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: #d2d2d2; }

#wrapper {
  margin: 0 auto;
  width: 922px; }

#header {
  width: 900px;
  color: #333333;
  padding: 10px;
  border: 1px solid #aaaaaa;
  height: 100px;
  margin: 10px 0px 5px 0px;
  background: white;
  text-align: center; }
  #header h1 {
    font-size: 2.2em;
    margin-bottom: 20px; }
    #header h1 a {
      color: #333333; }
      #header h1 a:hover {
        text-shadow: 2px 2px 2px #ff7373; }
  #header h2 {
    color: black;
    font-style: italic;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #cccccc; }

#content {
  width: 900px;
  color: #333333;
  border: 1px solid #aaaaaa;
  background: white;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  min-height: 350px; }
  #content h2 {
    font-size: 1.5em; }
  #content h2.start {
    text-align: center;
    margin-left: 25px;
    margin-top: 25px; }
  #content h2.posting {
    margin-bottom: 20px; }
    #content h2.posting a {
      float: right; }
  #content p {
    font-size: 1.3em;
    color: black;
    text-shadow: 2px 2px 2px #cccccc; }
  #content p.idea {
    margin-left: 10px;
    margin-top: 10px; }
  #content p.posting {
    margin-left: 10px;
    margin-bottom: 20px; }
  #content ul.idea {
    margin-top: 15px;
    margin-left: 25px; }
    #content ul.idea li {
      font-size: 1.1em;
      color: #777777; }
  #content #posting-area {
    margin-top: 25px; }
    #content #posting-area input {
      padding: 5px;
      font-family: Helvetica, sans-serif;
      font-size: 1.4em;
      margin: 0px 0px 10px 0px;
      border: 2px solid #cccccc; }
    #content #posting-area input:focus {
      border: 2px solid #990000; }
    #content #posting-area .button {
      margin-left: 115px; }
      #content #posting-area .button:hover {
        cursor: pointer;
        border: 2px solid #990000; }
    #content #posting-area label {
      font-size: 1.3em;
      color: black;
      text-shadow: 2px 2px 2px #cccccc;
      float: left;
      text-align: right;
      margin-right: 15px;
      width: 100px;
      padding-top: 5px; }
    #content #posting-area li {
      margin-left: 115px; }
      #content #posting-area li:first-child {
        padding-top: 5px; }
      #content #posting-area li label {
        float: none; }

#footer {
  text-align: center;
  color: #333333;
  width: 900px;
  border: 1px solid white;
  background: #dddddd;
  margin: 0px 0px 10px 0px;
  padding: 10px; }

#errorExplanation {
  width: 450px;
  padding: 7px;
  margin-left: 115px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: none; }
