* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: #d2d2d2; }

#wrapper {
  margin: 0 auto;
  width: 922px; }

#header {
  width: 900px;
  color: #333333;
  padding: 10px;
  border: 1px solid #aaaaaa;
  height: 100px;
  margin: 10px 0px 5px 0px;
  background: white;
  text-align: center; }
  #header h1 {
    font-size: 2.2em;
    margin-bottom: 20px; }
  #header h2 {
    color: black;
    font-style: italic;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #cccccc; }

#content {
  width: 900px;
  color: #333333;
  border: 1px solid #aaaaaa;
  background: white;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  height: 350px; }
  #content h2 {
    font-size: 1.5em; }
  #content p.idea {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.3em;
    color: black;
    text-shadow: 2px 2px 2px #cccccc; }
  #content ul.idea {
    margin-top: 15px;
    margin-left: 25px; }
    #content ul.idea li {
      font-size: 1.1em;
      color: #777777; }

#footer {
  text-align: center;
  color: #333333;
  width: 900px;
  border: 1px solid white;
  background: #dddddd;
  margin: 0px 0px 10px 0px;
  padding: 10px; }
