%h2 It is FREE and easy.  Two ways to get started.

%p.idea 
  Have an idea ?

%ul.idea
  %li 
    = link_to 'Create', new_posting_path
    a post containing your idea and which languages you know.  Your email address will not be posted.
  %li 
    Wait for someone to reply to your post.
  %li 
    Get together on IRC, Skype, or some other way and get coding!
    
%p.idea 
  See an idea you like ?

%ul.idea
  %li 
    Reply to the posting.  You will be required to send your email address. Only the creator of the
    post will see this.
  %li 
    Wait for a reply from the creator
  %li 
    Get together on IRC, Skype, or some other way and get coding!

%p.idea
  Postings will automatically expire after thirty minutes.

%h2.start
  There are
  %span
    -if @fresh_posts >= 1
      (#{pluralize(@fresh_posts, "post")})
    -else
      (No Posts)
    
  Let's go!
  %br
  = link_to 'Create', new_posting_path
  a post
  -if @fresh_posts >= 1
    or
    = link_to 'View', postings_path
    posts!